.idea/*
.DS_Store

/bitrix/backup*
/bitrix/cache*
/bitrix/managed_cache*
/bitrix/updates*
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php

/upload/*

.htaccess
/local/logs/*
/local/vendor/*
/local/composer.lock
/local/vendor/
/local/composer.lock
*log.txt
